@font-face {
    font-family: "Bebas Neue Regular";
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helios Cond C";
    src: url('../fonts/HeliosCondC.eot');
    src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HeliosCondC.woff2') format('woff2'),
    url('../fonts/HeliosCondC.woff') format('woff'),
    url('../fonts/HeliosCondC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DIN Pro";
    src: url('../fonts/DINPro-Medium.eot');
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINPro-Medium.woff2') format('woff2'),
    url('../fonts/DINPro-Medium.woff') format('woff'),
    url('../fonts/DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Helios C";
    src: url('../fonts/HeliosC.eot');
    src: url('../fonts/HeliosC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HeliosC.woff2') format('woff2'),
    url('../fonts/HeliosC.woff') format('woff'),
    url('../fonts/HeliosC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    overflow-x: hidden;
    position: relative;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    text-decoration: none;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #fff;
}

input::-moz-placeholder {
    opacity: 1;
    color: #fff;
}

.wrapper {
    display: block;
    max-width: 1206px;
    margin: 0 auto;
    height: 100%;
}

.header {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__content {
    display: block;
    padding-top: 52px;
}



.logo {
    display: inline-block;
    vertical-align: top;
    width: 189px;
    height: 42px;
    position: relative;
}

.logo:after {
    content: '';
    background-image: url(../img/logo_header.png);
    width: 189px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
}

.header__items {
    display: block;
    float: right;
    margin-top: -10px;
}

.header__consalt {
    display: inline-block;
    vertical-align: middle;
}

.header__consalt-phone {
    color: #ffffff;
    font-family: "Helios Cond C";
    font-weight: 400;
    line-height: 30px;
    font-size: 30px;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.header__consalt-phone:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .8;
}

.header__consalt-phone:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .6;
}

.header__consalt-text {
    color: #ffffff;
    font-family: "Helios Cond C";
    font-weight: 400;
    line-height: 20px;
    font-size: 18px;
    display: block;
    margin-top: 14px;
}

.header__navigate {
    width: 67px;
    height: 67px;
    border: 1px solid #ffffff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
    margin: 0 45px 0 60px;
    position: relative;
}

.header__navigate-line {
    display: block;
    background-color: #ffffff;
    width: 31px;
    height: 1px;
    position: absolute;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.header__navigate-line--1 {
    top: 29px;
    left: 17px;
}

.header__navigate-line--2 {
    top: 36px;
    left: 17px;
}

.header__navigate:hover .header__navigate-line--1 {
    top: 28px;
}

.header__navigate:hover .header__navigate-line--2 {
    top: 37px;
}



.header__navigate-line--1.open {
    top: 33px !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}



.header__navigate-line--2.open {
    top: 33px !important;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header__language {
    display: inline-block;
    vertical-align: middle;

    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.header__language-rus {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    position: relative;
}

.header__language-eng {
    display: inline-block;
    vertical-align: middle;
    color: #666666;
}

.header__language-rus:after {
    content: '/';
    position: absolute;
    top: 0;
    right: 0;
}

.header__language-rus:hover {
    color: #ffffff;
}

.header__language-eng:hover {
    color: #ffffff;
}



.description {
    display: block;
    background-image: url(../img/back_header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.description__content {
    display: block;
    padding-top: 338px;
}

.description__title {
    text-align: center;
    display: block;

    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 81px;
    font-weight: 400;
    line-height: 106px;
    text-transform: uppercase;
}

.description__scroll {
    position: absolute;
    bottom: 47px;
    left: 50%;
    margin-left: -13px;
    height: 37px;
    width: 26px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.description__scroll-link {
    position: relative;
    height: 100%;
    width: 100%;
}

.description__scroll:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    bottom: 38px;
}

.description__scroll-link:after {
    content: '';
    background-image: url(../img/arrow_down.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 37px;
    width: 26px;
}

.company {
    display: block;
    padding: 100px 0 95px 0;
}

.company__content {
    display: block;
}

.title {
    display: block;
    text-align: center;
    color: #000000;
    font-family: "Bebas Neue Regular";
    font-size: 65px;
    font-weight: 400;
    line-height: 46px;
    text-transform: uppercase;
}

.company__slider {
    display: block;
    margin-top: 100px;
}

.slider__block {
    display: inline-block;
    vertical-align: top;
}

.slider__block-img {
    display: block;
    margin-bottom: 37px;
    height: 562px;
    position: relative;
}

.slick-slider:before {
    position: absolute;
    content: '';
    background-image: url(../img/icon_company.png);
    width: 436px;
    height: 349px;
    top: 212px;
    left: -217px;
    z-index: 2;
}

.slider__block-text {
    color: #818181;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.slider__block:nth-child(1) {
    width: 683px;
    margin-right: 50px;
}

.slider__block:nth-child(1) .slider__block-text {
    padding-left: 48px;
}

.slider__block:nth-child(2) .slider__block-text {
    max-width: 468px;
}

.slider__block-achievements {
    display: block;
    margin-top: 55px;
}

.slider__block-achievement {
    display: inline-block;
    vertical-align: top;
    max-width: 102px;
}

.slider__block-achievement:nth-child(1) {
    margin-right: 72px;
}

.slider__block-achievement:nth-child(2) {
    margin-right: 83px;
}

.slider__block-achievement-text--mod {
    color: #cd7f32;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 24px;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li button {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #cd7f32;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 6px auto;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.slick-dots li {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(205, 127, 50, 1);
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.slick-dots li:hover {
    border: 1px solid rgba(205, 127, 50, .7);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.slick-dots li.slick-active button {
    opacity: 1;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.slick-dots {
    top: -36px;
    right: -530px;
    bottom: initial;
}

.choice {
    display: block;
    font-size: 0;
    height: 200px;
    position: relative;
    z-index: 1;
}

.choice__transition {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: #d1d1d1;
    height: 100%;
    color: #818181;
    font-family: "Helios Cond C";
    font-size: 22px;
    font-weight: 400;
    line-height: 200px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    text-align: center;
}

.choice__transition:hover {
    background-color: rgba(209, 209, 209, .8);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.choice__transition:active {
    background-color: rgba(209, 209, 209, .6);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.choice__consultation {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    background-color: #cd7f32;
    color: #ffffff;
    height: 100%;
    font-family: "Helios Cond C";
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.choice__consultation:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: rgba(205, 127, 50, .9);
}

.choice__consultation:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: rgba(205, 127, 50, .8);
}

.form__consultation {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 576px;
    background-color: #cd7f32;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    padding-top: 60px;
    z-index: 20;
}

.form__consultation.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.form__title {
    display: block;
    text-align: center;
    color: #000000;
    font-family: "Helios Cond C";
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 11px;
}

.form__title--mod {
    color: #ffffff;
}

.form__items {
    display: block;
    width: 570px;
    margin: 0 auto;
}

.form__item {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}

.form__item:nth-child(2n+1) {
    margin-right: 66px;
}

.form__item-text {
    color: #000000;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 13px;
    display: block;
}

.form__item-input {
    height: 45px;
    width: 252px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    padding-right: 15px;
    color: #ffffff;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    display: block;
    margin-top: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none !important;
}

.form__item:last-child .form__item-input {
    color: initial;
}

option {
    outline: none !important;
}

.form__button {
    width: 570px;
    height: 88px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 3px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    font-family: "Helios Cond C";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 40px auto 17px auto;
    display: block;
}

.form__button:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 3px solid #ffffff;
    background-color: #cd7f32;
    color: #ffffff;
}

.form__button:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 4px solid #ffffff;
}

.form__manual {
    color: #ffffff;
    font-family: "DIN Pro";
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    display: block;
    text-align: center;
}

.form__close {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    height: 24px;
    width: 24px;
    background-color: transparent;
}

.form__close:after {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    background-image: url(../img/form_close.png);
    top: 0;
    left: 0;
}

.form__close:hover:after {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-image: url(../img/form_close_hover.png);
}

.form__close:active:after {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-image: url(../img/form_close_active.png);
}

.select {
    position: relative;
    display: inline-block;
}

.select:after {
    content: '';
    background-image: url(../img/arrow_dropdown.png);
    width: 9px;
    height: 13px;
    position: absolute;
    right: 0;
    top: 34px;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.map {
    display: block;
    height: 600px;
    position: relative;
    z-index: 30;
}

.map__frame {
    width: 216px;
    height: 98px;
    background-color: #cd7f32;
}

.map__frame-adress {
    color: white;
    font-family: "Helios Cond C";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}

.map .footer {
    display: block;
}

.footer__content {
    display: block;
    padding: 50px 0 37px 0;
}

.footer__top {
    display: block;
}

.logo--footer {
    vertical-align: middle;
}

.logo--footer:after {
    background-image: url(../img/logo_footer.png);
}

.footer__top-socials {
    display: initial;
    vertical-align: middle;
    margin: 0 110px 0 100px;
}

.footer__top-social {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.footer__top-social:nth-child(1) {
    margin-right: 27px;
}

.footer__top-social:nth-child(1):after {
    content: '';
    background-image: url(../img/vk.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__top-social:nth-child(2):after {
    content: '';
    background-image: url(../img/fb.svg);
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__top-social:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .7;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.footer__top-social:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .6;
}

.footer__menu {
    display: inline-block;
    vertical-align: middle;
}

.footer__menu-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 37px;
}

.footer__menu-item:last-child {
    margin-right: 0;
}

.footer__menu-link {
    display: block;
    color: #010101;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.footer__menu-link:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid rgba(1, 1, 1, .6);
}

.footer__bottom {
    display: block;
    padding-top: 27px;
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.footer__bottom-block {
    display: inline-block;
    vertical-align: top;
}

.footer__bottom-block:nth-child(2) {
    margin: 0 120px 0 230px;
}

.footer__bottom-protection {
    color: #010101;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    display: block;
    padding-left: 42px;
    position: relative;
    display: block;
    margin-bottom: 13px;
}

.footer__bottom-protection:before {
    content: '';
    background-image: url(../img/copy.png);
    height: 28px;
    width: 28px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__bottom-confident {
    color: #000000;
    font-family: "Helios C";
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.footer__bottom-confident:hover {
    text-decoration: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.footer__bottom-phone {
    font-family: "Helios Cond C";
    font-weight: 400;
    color: #cd7f32;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.footer__bottom-phone:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .8;
}

.footer__bottom-phone:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: .6;
}

.footer__bottom-text {
    font-family: "Helios Cond C";
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    display: block;
    margin-top: 16px;
}

.footer__bottom-adress {
    font-family: "Helios Cond C";
    font-weight: 400;
    color: #cd7f32;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    display: block;
}

.footer__bottom-city {
    font-family: "Helios Cond C";
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 20px;
    display: block;
    margin-top: 16px;
}

.navigate {
    display: block;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #1e1c1c;
    width: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.navigate.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.navigate__content {
    display: block;
    padding-top: 206px;
}

.navigate__menu {
    display: inline-block;
    vertical-align: top;
}

.navigate__menu-item {
    display: block;
    margin-top: 20px;
}

.navigate__menu-item:first-child {
    margin-top: 0;
}

.navigate__menu-link {
    display: inline-block;
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.navigate__menu-link:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border-bottom: 2px solid #ffffff;
}

.navigate__contacts {
    display: inline-block;
    vertical-align: top;
    margin-left: 254px;
}

.navigate__contact {
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    display: block;
}

.navigate__contact:nth-child(1) {
    margin: 8px 0 38px 0;
}

.phoney {
    padding: 10px 0;
}

.element.style {
    overflow: hidden !important;
}

.phoneytext {
    color: white;
    font-family: "Helios Cond C";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 20px;
    overflow: hidden;
}

.img1 {
    background-image: url(../img/map_gps.png);
    height: 20px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: "Helios Cond C";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 30px;
}

.img2 {
    background-image: url(../img/map__call.png);
    height: 15px;
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-family: "Helios Cond C";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 30px;
    background-repeat: no-repeat;
}

.js-info-bubble-close {
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.slick-slide {
    outline: none !important;
}

._ibani_8281 {
    top: 170px;
}



/*-----------------------------СТРАНИЦА УСЛУГ--------------------------------------------*/

.description--service {
    background-image: url(../img/back_header2.jpg);
}

.service {
    display: block;
    padding-bottom: 78px;
}

.service__content {
    display: block;
}

.service__block {
    display: block;
}

.service__title {
    max-width: 1206px;
    text-align: center;
    color: #000000;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;

    padding: 85px 0 60px 0;
}

.service__block:nth-child(2) .service__title {
    padding-top: 138px;
}

.service__items {
    display: block;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/back_service1.jpg);
    font-size: 0;
    position: relative;
    z-index: 0;
}

.service__block:nth-child(2) .service__items {
    background-image: url(../img/back_service2.jpg);
}

.service__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-top: 1px rgba(255, 255, 255, .56) solid;
    height: 250px;
    position: relative;
}

.service__item:nth-child(2n+1) {
    border-right: 1px rgba(255, 255, 255, .56) solid;
}

.service__item--mod {
    height: 360px;
}

.service__body {
    display: block;
    width: 620px;
    height: 250px;
    position: relative;
}

.service__item:nth-child(2n+1) .service__body {
    float: right;
}

.service__body-text {
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 80px;
    max-width: 565px;
    pointer-events: none;
}

.service__item:nth-child(2n+1) .service__body-text {
    left: 10px;
}

.service__item--mod .service__body {
    height: 360px;
}

.service__item-hover {
    opacity: 0;
    position: absolute;
    top: -22px;
    right: -22px;
    width: 110%;
    height: 292px;
    -webkit-box-shadow: 1px 2px 70px rgba(0, 0, 0, 0.53);
    box-shadow: 1px 2px 70px rgba(0, 0, 0, 0.53);
    background-color: #cd7f32;
    background-image: url(../img/hover.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    -webkit-border-radius: 4px;
    border-radius: 2px;
    -webkit-transform: .3s;
    -moz-transform: .3s;
    -ms-transform: .3s;
    -o-transform: .3s;
    transform: .3s;
}

.service__item:nth-child(2n+2) .service__item-hover-link {
    right: initial;
    left: 595px;
}

.service__item-hover-link {
    width: 44px;
    height: 44px;
    position: absolute;
    right: 85px;
    bottom: 67px;
}

.service__item-hover-link:after {
    content: '';
    position: absolute;
    background-image: url(../img/btn.png);
    height: 44px;
    width: 44px;
    top: 0;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.service__item-hover-link:hover:after {
    background-image: url(../img/btn_hover.png);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.service__item-hover-link:active:after {
    background-image: url(../img/btn_active.png);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.service__item:nth-child(2n+2) .service__item-hover {
    right: initial;
    left: -22px;
}

.service__item--mod .service__item-hover {
    height: 404px;
}

.service__body-text:hover .service__item-hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: 1;
}

.service__item-hover:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    opacity: 1;
}




/*--------------------------НАШИ РАБОТЫ-----------------------------*/

.description--job {
    background-image: url(../img/back_header3.jpg);
}


.description__content--job {
    padding-top: 420px;
}



.job {
    display: block;
    padding: 60px 0 50px;
}

.job__block {
    display: block;
    background-repeat: no-repeat;
    height: 1098px;
    margin-top: 90px;
    position: relative;
}

.job__block:nth-child(1) {
    background-image: url(../img/back_job1.jpg);
}

.job__block:nth-child(2) {
    background-image: url(../img/back_job2.jpg);
}

.job__block:nth-child(2n+1) {
    background-position: center left;
}

.job__block:nth-child(2n+2) {
    background-position: center right;
    padding-top: 170px;
}

.job__body:before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
}

.job__block:nth-child(1) .job__body:before {
    background-image: url(../img/before_job1.jpg);
    width: 549px;
    height: 546px;
    bottom: -122px;
    left: -197px;
}

.job__block:nth-child(2) .job__body:before {
    background-image: url(../img/before_job2.jpg);
    width: 549px;
    height: 383px;
    bottom: -117px;
    right: 155px;
}

.job__body {
    display: block;
    width: 1174px;
    max-height: 890px;
    position: relative;
}

.job__item {
    width: 100%;
    height: 100%;
    background-color: #cd7f32;
    background-image: url(../img/hover2.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 60px 0 60px 115px;
    position: relative;
}

.job__block:nth-child(2n+1) .job__body {
    float: right;
    margin-top: 165px;
}

.job__block:nth-child(2n+1) .job__item {
    padding-right: 180px;
}

.job__block:nth-child(2n+2) .job__body {
    margin: 0 auto;
}

.job__block:nth-child(2n+2) .job__item {
    padding-right: 140px;
}

.job__item-filters {
    display: block;
}

.job__item-filter {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    background-color: #ffffff;
    padding: 0 34px;
}

.job__item-filter:nth-child(2) {
    padding: 0 24px;
    margin-left: 15px;
}

.job__item-filter-text1 {
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #000000;
}

.job__item-filter-text2 {
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #cd7f32;
}

.job__item-title {
    color: #ffffff;
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 65px;
    text-transform: uppercase;
    display: block;
    margin: 48px 0 0 0;
}

.job__item-text {
    color: #ffffff;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    margin-top: 30px;
}

.job__more {
    width: 360px;
    height: 70px;
    background-color: #cd7f32;
    border: 3px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    color: #ffffff;
    font-family: "Helios Cond C";
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin: 50px auto 0 auto;
    display: block;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.job__more:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 3px solid #cd7f32;
    background-color: #ffffff;
    color: #000000;
}

.job__more:active {
    border: 4px solid #cd7f32;
}




/*--------------------------------ПАРТНЕРЫ------------------------------------*/

.description--partner {
    background-image: url(../img/back_header4.jpg);
}

.partner {
    display: block;
    padding: 100px 0;
}



.partner__items {
    display: block;
    margin-top: 100px;
    font-size: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.partner__item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 140px 6%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.partner__item:nth-child(3n+1) {
    width: 50%;
    padding-left: 7%;
    padding-right: 7%;
}

.partner__item:nth-child(4) {
    padding: 90px 7%;
}

.partner__item:nth-child(2n+2) {
    background-color: #f1f1f1;
}

.partner__item-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}




/*---------------------------  ОДНА УСЛУГА  ----------------------------------*/

.oneservice {
    display: block;
    padding: 150px 0;
}

.description--oneservice {
    background-image: url(../img/back_header9.jpg);
}

.job__block--oneservice {
    margin-top: 0;
    background-image: url(../img/back_oneserv1.jpg) !important;
}


.job__item--oneservice:before {
    background-image: url(../img/before_oneserv1.jpg) !important;
}




/*---------------------------КОНТАКТЫ---------------------------------------------*/

.contact {
    display: block;
}

.contact__content {
    display: block;
    padding-bottom: 100px;
}

.description--contact {
    background-image: url(../img/back_header5.jpg);
}

.service__title--contact {
    padding: 100px 0;
}

.contact__adress {
    display: block;
}

.contact__adress-item {
    font-family: "Bebas Neue Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    color: #818181;
    display: block;
}

.contact__adress-data {
    color: #000000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.contact__adress-item:last-child {
    margin-top: 35px;
}

.contact__adress-data--hover:hover {
    color: rgba(0, 0, 0, .7);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.contact__adress-data--hover:active {
    color: rgba(0, 0, 0, .5);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}





/*----------------------ПОЛЕЗНАЯ ИНФОРМАЦИЯ----------------------------------*/

.description--info {
    background-image: url(../img/back_header10.jpg);
}

.service__title--info {
    padding: 100px 0 93px;
}

.service__items--info {
    background-image: url(../img/back_info.jpg);
}

@media (max-width: 1580px) {
    .job__body:before {
        background-image: none !important;
    }
}

@media (max-width: 1370px) {
    .partner__item {
        padding: 90px 6%;
    }
    .partner__item:nth-child(4) {
        padding: 40px 7%;
    }
}

@media (max-width: 1280px) {}