@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    overflow-x: hidden;
    position: relative;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    text-decoration: none;
    outline: none;
    border: none;
}

section,
header,
footer {
    padding: 0 50px;
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header__content {
    display: block;
}

.header__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 252px;
    height: 202px;
    background-image: url(../img/bg-logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    margin-left: -11px;
}

.logo:after {
    position: relative;
    content: '';
    background-image: url(../img/logo.png);
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    width: 214px;
    height: 121px;
    top: 27px;
    left: 19px;
}

.header__phone {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 500;
    line-height: 0;
    -webkit-box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.64);
    box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.64);
    padding-left: 37px;
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.header__phone:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.74);
    box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.74);
}

.header__phone:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.9);
}

.header__phone:before {
    content: '';
    background-image: url(../img/call.png);
    top: -12px;
    left: 0;
    position: absolute;
    height: 24px;
    width: 24px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.main {
    display: block;
    background-image: url(../img/bg-1.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.main__content {
    padding: 357px 0 243px 0;
}

.main__title {
    display: block;
    max-width: 400px;
}

.main__title-part {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    text-transform: uppercase;
    background-color: #a6e648;
    display: inline-block;
    padding: 0 23px;
}

.main__title-part:last-child {
    margin-top: 12px;
}

.main__text {
    display: block;
    max-width: 400px;
    margin-top: 16px;
}

.main__text-part {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 36px;
    font-weight: 300;
    line-height: 55px;
    background-color: #eff766;
    display: inline-block;
    padding: 0 11px;
}

.main__text-part:last-child {
    margin-top: 8px;
}

.main__callback {
    display: block;
    margin-top: 60px;
    width: 231px;
    height: 58px;
    border: 4px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: "Helvetica Neue Cyr";
    font-size: 21px;
    font-weight: 500;
    line-height: 22.22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main__callback:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.main__callback:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: rgba(255, 255, 255, 0.18);
}

.info {
    display: block;
}

.info__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url(../img/layer.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin-top: -170px;
    background-color: #ffffff;
    position: relative;
}

.info__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding: 50px 0 57px 0;
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
}

.info__items:before {
    position: absolute;
    content: '';
    width: 1300px;
    background-image: url(../img/layer-1.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 250px;
    z-index: 1;
    bottom: -10px;
    left: -50px;
}

.info__item {
    width: 33.33333333333333%;
    min-width: 195px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 5;
    margin-top: 50px;
}

.info__item-icon {
    width: 150px;
    height: 150px;
    background-color: #eff766;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}

.info__item-icon:after {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.info__item:nth-child(1) .info__item-icon:after {
    background-image: url(../img/info-icon1.svg);
    width: 91px;
    height: 97px;
    top: 26px;
    left: 29px;
}

.info__item:nth-child(2) .info__item-icon:after {
    background-image: url(../img/info-icon2.svg);
    width: 100px;
    height: 80px;
    top: 34px;
    left: 25px;
}

.info__item:nth-child(3) .info__item-icon:after {
    background-image: url(../img/info-icon3.svg);
    width: 106px;
    height: 96px;
    top: 22px;
    left: 22px;
}

.info__item-text {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    display: block;
    text-align: center;
    margin-top: 37px;
}

.layout {
    display: block;
}

.layout__content {
    display: block;
    padding: 136px 0 122px 0;
}

.title {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 36px;
    font-weight: 500;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
}

.layout__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 24px;
}

.layout__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 70px;
}

.layout__item-room {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
}

.layout__item-img {
    margin: 48px 0 40px 0;
}

.layout__item-area {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
}

.price {
    display: block;
    background-image: url(../img/bg-2.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.price__content {
    display: block;
    padding: 80px 0;
}

.price__table {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-collapse: collapse;
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin: 40px auto 0 auto;
}

.price__body {
    display: block;
    margin: 0 auto;
}

.price__table-td {
    border: 1px solid #000000;
}

.price__ .structure {
    display: block;
    background-color: #e2e2e2;
}

.price__table-tr:first-child {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
}

.price__table-td {
    padding: 5px 10px;
}

.structure__content {
    display: block;
    padding: 70px 0 126px 0;
}

.structure__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 45px;
    margin: 0 -22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.structure__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.structure__item {
    height: 432px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 45px;
    width: 100%;
}

.structure__body:nth-child(1) .structure__item {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.structure__body:nth-child(2) .structure__item {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.structure__body:nth-child(3) .structure__item {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.structure__body:nth-child(4) .structure__item {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.structure__body:nth-child(even) .structure__item {
    padding: 42px 44px;
}

.structure__item-img {
    width: 100%;
    height: 100%;
}

.structure__item-text {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.structure__item-text:nth-child(2) {
    margin: 14px 0;
}

.form {
    display: block;
    background-color: #eff766;
}

.form__content {
    display: block;
    padding: 80px 0;
}

.form__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 -25px;
}

.form__part {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333333333333%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.33333333333333%;
    flex: 0 0 33.33333333333333%;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form__part:last-child {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 25px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.form__item-input {
    min-width: 260px;
    width: 100%;
    height: 58px;
    background-color: #ffffff;
    padding: 0 29px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #b5b5b5;
    font-family: "Helvetica Neue Cyr";
    font-size: 21px;
    font-weight: 500;
    line-height: 22.22px;
    border: 3px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.form__item-input:hover,
.form__item-input:active,
.form__item-input:focus {
    border: 3px solid #000000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

input::-webkit-input-placeholder {
    color: #b5b5b5;
}

input::-moz-placeholder {
    opacity: 1;
    color: #b5b5b5;
}

.form__item-input:nth-child(2) {
    margin: 0 11% 0 4%;
}

.form__button {
    min-width: 210px;
    width: 231px;
    height: 58px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    border: 3px solid #000000;
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 21px;
    font-weight: 500;
    line-height: 22.22px;
    background-color: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.form__button:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: #000000;
    color: #ffffff;
}

.form__button:active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    font-size: 22px;
}

.achievement {
    display: block;
}

.achievement__content {
    display: block;
    padding-top: 120px;
}

.achievement__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding: 62px 0 125px 0;
    margin-top: 30px;
    -webkit-box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.6);
}

.achievement__items:before {
    position: absolute;
    content: '';
    width: 1300px;
    background-image: url(../img/layer-2.png);
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 445px;
    z-index: 1;
    top: -10px;
    left: -50px;
}

.achievement__item {
    width: 265px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}

.achievement__item-icon {
    width: 150px;
    height: 150px;
    background-color: #a6e648;
    display: block;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
}

.achievement__item-icon:after {
    content: '';
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.achievement__item:nth-child(1) .achievement__item-icon:after {
    background-image: url(../img/achiev-icon1.svg);
    width: 80px;
    height: 79px;
    top: 28px;
    left: 31px;
}

.achievement__item:nth-child(2) .achievement__item-icon:after {
    background-image: url(../img/achiev-icon2.svg);
    width: 105px;
    height: 67px;
    top: 37px;
    left: 24px;
}

.achievement__item:nth-child(3) .achievement__item-icon:after {
    background-image: url(../img/achiev-icon3.svg);
    width: 81px;
    height: 86px;
    top: 38px;
    left: 37px;
}

.achievement__item-text {
    color: #000000;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    display: block;
    text-align: center;
    margin-top: 37px;
}

.footer {
    display: block;
    background-color: #2a2a2a;
    margin-top: -55px;
}

.footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 122px 0 90px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__map {
    width: 440px;
    min-width: 325px;
    height: 325px;
    margin-right: 70px;
}

.footer__location-text {
    color: #ffffff;
    font-family: "Helvetica Neue Cyr";
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    max-width: 622px;
}

.footer__location-text:nth-child(2) {
    margin: 30px 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: #000;
    opacity: .7;
    display: none;
}

.form__popup {
    position: fixed;
    display: none;
    z-index: 30;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border: 3px solid #000000;
    background-color: #eff766;
    padding: 20px;
}

.form__part--popup:nth-child(2) {
    margin: 20px 0;
}

.form__part--popup:nth-child(3) {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 25px;
}

.form__button--popup {
    min-width: 210px !important;
    width: 100% !important;
}

.popup__exit {
    position: absolute;
    top: 8px;
    right: 8px;
}

.popup__exit:after {
    content: '';
    background-image: url(../img/close.png);
    height: 13px;
    width: 13px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .structure__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .structure__item {
        max-width: 576px;
        height: 100%;
    }
    .structure__item-img {
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        height: 100%;
    }
    .structure__body:nth-child(even) .structure__item {
        padding: 30px 20px 30px 25px;
    }
}

@media (max-width: 1170px) {
    .structure__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .structure__body:nth-child(3) .structure__item {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .structure__body:nth-child(4) .structure__item {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
}

@media (max-width: 980px) {
    .form__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .form__part:nth-child(2) {
        margin: 20px 0;
    }
    .form__part:last-child {
        max-width: 387px;
        padding: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }
    .form__button {
        min-width: 260px;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .footer__map {
        margin-right: 0;
        width: 100%;
        min-width: 300px;
    }
    .footer__location {
        margin-top: 40px;
        text-align: center;
    }
}

@media (max-width: 894px) {
    .achievement__items:before {
        height: 785px;
    }
}

@media (max-width: 800px) {
    .layout__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .layout__item-img {
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
    .price__table-td {
        padding: 2px 5px;
    }
}

@media (max-width: 684px) {
    .info__items {
        padding: 0 0 57px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .info__items:before {
        height: 765px;
    }
    .info__item-text {
        margin-top: 20px;
    }
    .structure__body:nth-child(even) .structure__item {
        padding: 30px 20px 30px 25px;
    }
    .achievement__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .achievement__items:before {
        height: 950px;
    }
    .layout__content {
        padding: 60px 0;
    }
    .layout__item {
        margin-top: 50px;
    }
    .layout__item-img {
        margin: 25px 0 20px 0;
    }
    .price__content {
        padding: 60px 0;
    }
    .structure__content {
        padding: 60px 0;
    }
    .form__content {
        display: block;
        padding: 60px 0;
    }
    .achievement__content {
        padding-top: 60px;
    }
    .achievement__items {
        padding: 0px 0 60px 0;
    }
    .achievement__item-text {
        margin-top: 20px;
    }
}

@media (max-width: 650px) {
    .price__body {
        overflow-x: scroll;
        display: block;
    }
    .price__table {
        width: 550px;
    }
}

@media (max-width: 600px) {
    .header__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .header__phone {
        -webkit-box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.84);
        box-shadow: 0 0 95px 22px rgba(255, 255, 255, 0.84);
        margin-top: 50px;
    }
    .main__title {
        max-width: inherit;
        text-align: center;
    }
    .main__text {
        max-width: inherit;
        text-align: center;
    }
    .main__title-part {
        font-size: 42px;
        line-height: 51px;
        padding: 0 17px;
    }
    .main__text-part {
        font-size: 30px;
        line-height: 49px;
        padding: 0 8px;
    }
    .logo {
        margin-left: 0;
    }
    .main__callback {
        margin: 60px auto 0 auto;
    }
}

@media (max-width: 500px) {
    section,
    header,
    footer {
        padding: 0 30px;
    }
    .structure__body {
        padding: 0;
    }
    .structure__items {
        margin: 0;
    }
    .title {
        font-size: 28px;
        line-height: 30px;
    }
    .layout__item:nth-child(2) .layout__item-img {
        width: 100%;
    }
}

@media (max-width: 448px) {
    .main__title-part {
        font-size: 36px;
        line-height: 45px;
        padding: 0 11px;
    }
    .main__text-part {
        font-size: 26px;
        line-height: 44px;
    }
    .structure__item-text {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    .structure__body:nth-child(even) .structure__item {
        padding: 24px 14px 24px 20px;
    }
    .layout__content {
        padding: 40px 0;
    }
    .price__content {
        padding: 40px 0;
    }
    .structure__content {
        padding: 40px 0;
    }
    .form__content {
        padding: 40px 0;
    }
    .form__content {
        padding: 40px 0;
    }
    .footer__location-text {
        font-size: 18px;
        line-height: 30px;
    }
    .form__item-input--popup {
        min-width: 220px !important;
        padding: 0px 15px;
    }
    .form__part--popup {
        padding: 0px 15px;
    }
    .form__part--popup:nth-child(3) {
        padding: 0 15px;
    }
}

@media (max-width: 340px) {
    section,
    header,
    footer {
        padding: 0 10px;
    }
    .title {
        font-size: 24px;
        line-height: 26px;
    }
}